@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row p-3">
            <img src="/Images/bell.png" alt="bell image" class="media-object ms-3 ">
            <img src="/Images/image-top.png" alt="person image" class="media-object ms-3 ">
        </div>

        <article class="content px-4 bg-light">
            @Body
        </article>
    </main>
</div> 

